/* top level elements */
#nav {
    background-color: #3366FF;
	filter: alpha(opacity=10);
	opacity: 0.9;
    background: -moz-linear-gradient(top, #3366FF 0%, #0066FF 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #3366FF), color-stop(100%, #0066FF));
    background: -webkit-linear-gradient(top, #3366FF 0%, #0066FF 100%);
    background: -o-linear-gradient(top, #3366FF 0%, #0066FF 100%);
    background: -ms-linear-gradient(top, #3366FF 0%, #0066FF 100%);
    background: linear-gradient(to bottom, #3366FF 0%, #0066FF 100%);
    height: 40px;
	padding-top: 12px;
	position: relative;
	width: 980px;
    z-index: 300;
	border-radius: 0 0 7px 7px;
	border: 2px solid #3399ff;
}
#menu {
    height: 40px;
	padding-top: 12px;
    position: relative;
	width: 980px;
    z-index: 300;
}
#menu, #menu ul {
	list-style: none outside none;
    margin: 0;
    padding: 0;
}
#menu, #menu ul li {
	padding: 0 0 1px 0;
}
#menu > li {
    background-color: #3399FF;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 23px;
    padding: 3px 8px 4px 0;
    position: relative;
    text-align: left;
	margin-left: 10px;
	min-width: 60px;
	z-index: 1;
}
#menu > li > a {
    border: 1px solid transparent;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin: -3px 0 0 -1px;
    padding: 0 1px 0 10px;
	text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}
#menu > li:hover > a, #menu > a:hover {
    background-color: #fff;
    border-radius: 3px 3px 3px 3px;
    color: #0E385F;
    margin-right: -8px;
    padding: 0 9px 0 9px;
    position: relative;
	text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#menu > li.subs:hover > a {
    background-color: #fff;
    border-radius: 3px 3px 0 0;
	padding: 0 9px 0 9px;
    color: #0E385F;
	height: 35px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* submenu */
#menu ul {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, 0.4);
    *border: 1px solid rgb(100, 100, 100);
    border-radius: 0 3px 3px 3px;
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    display: none;
    left: -1px;
	margin-top: 5px;
    min-width: 200px;
    padding: 7px 0 7px 0;
    position: absolute;
    top: 100%;
    z-index: 1;
}
#menu li:hover ul {
    display: block;
}
#menu ul li a {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #0E385F;
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 0 22px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#menu ul li a:hover {
    background-color: #3399FF;
    border-bottom: 1px solid #3399FF;
    border-top: 1px solid #3399FF;
    color: #FFFFFF;
}

/* responsive rules */
@media all and (max-width : 980px) {
    #menu {
        display: none;
    }
}